@using SMA.CS;
@{
    ViewBag.Title = SMA.CS.GlobalVariables.getVariableValue("register_page_title");
    string defLanguage = SMA.CS.GlobalVariables.getVariableValue("default_language");
    string registrationType = SMA.CS.GlobalVariables.getVariableValue("registration_type");
    string registrationUserName = SMA.CS.GlobalVariables.getVariableValue("registration_user_name");
    string registrationFirstName = SMA.CS.GlobalVariables.getVariableValue("registration_first_name");
    string registrationLastName = SMA.CS.GlobalVariables.getVariableValue("registration_last_name");
    string registrationPhoneNumber = SMA.CS.GlobalVariables.getVariableValue("registration_phone_number");
    string registrationMail = SMA.CS.GlobalVariables.getVariableValue("registration_email");
    string registrationPassportID = SMA.CS.GlobalVariables.getVariableValue("registration_passport_id");
    string registrationPassword = SMA.CS.GlobalVariables.getVariableValue("registration_password");
    string registrationConfirmPassword = SMA.CS.GlobalVariables.getVariableValue("registration_confirm_password");
    string registrationButton = SMA.CS.GlobalVariables.getVariableValue("register_button");
    string registrationWindowTitle = SMA.CS.GlobalVariables.getVariableValue("register_window_title");
   
        
}

<h2>Register</h2>

<style>
    body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>


<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">@registrationWindowTitle  <small>  Ozzle</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method="post" action="../Account/RegisterValidation">
                           <h4 style="color:red">@ViewBag.ErrorMessage</h4>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <h4>@defLanguage</h4>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.DropDownList("defaultLanguage", GlobalVariables.languageListItems, new { text = "Default Languages" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <h4>@registrationType</h4>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.DropDownList("accessLevel", GlobalVariables.accessLevelsListItems, new { text = "Register As" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="text" name="user_name" id="user_name" class="form-control input-sm" placeholder="@registrationUserName">
                            </div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="@registrationFirstName">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="@registrationLastName">
			    					</div>
			    				</div>
			    			</div>
                            <div class="form-group">
                                <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="@registrationPhoneNumber">
                            </div>
			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="@registrationMail">
			    			</div>
                            <div class="form-group">
			    				<input type="text" name="passportID" id="passportID" class="form-control input-sm" placeholder="@registrationPassportID">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="@registrationPassword">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="@registrationConfirmPassword">
			    					</div>
			    				</div>
			    			</div>

                           
			    			<input type="submit" value="@registrationButton" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
