@using SMA.CS;
@using System.Collections;
@{
   
   

}
 


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    
    

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ozzle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("home"), "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("about"), "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(GlobalVariables.getVariableValue("contact"), "Contact", "Home", new { area = "" }, null)</li>   
                                    
                </ul>   
                <ul class="nav navbar-nav" style="float:right ">
                    
                    
                        @if(SMA._1._1.CS.Authentication.sessionPersister.userName==null)
                        {
                            
                         
                            <li>@Html.ActionLink(GlobalVariables.getVariableValue("login"), "LogIn", "Account", new { area = "" },null);</li>
                         
                         
                         
                            <li>@Html.ActionLink(GlobalVariables.getVariableValue("register"), "Register", "Account", new { area = "" }, null);</li>
                        }
                        else
                        {
                            <li><h3 style="color:white">Welcome  @SMA._1._1.CS.Authentication.sessionPersister.userName</h3></li>
                            <li>@Html.ActionLink("Log Out", "logout", "Account", new {area=""}, new { @style = "color:blue" })</li>
                        }
                      
                   
                    
                    <li>                    
                            <div class="dropdown" style="margin-top:inherit">
                               @{        
                                   string action = (string)ViewContext.Controller.ValueProvider.GetValue("action").RawValue;
                                   string controller = (string)ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
                                   string url = controller + "/" + action;
                               }
                            
                               @using (Html.BeginForm(url, null, FormMethod.Post, new { id = "chooser" }))
                               {                            
                                    @Html.DropDownList("chooser", GlobalVariables.languageListItems, new { onchange = "someLogic()",@class = "form-control selectWidth"} );
                               }                            
                            </div>
                      </li>
                </ul>                
            </div>            
        </div>
    </div>




       



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script type="text/javascript">
        function someLogic() {
            
            
            var sa = $("#chooser option:selected").text().toString();
            var urlstring = "../Home/translate?currentView=@action.ToString()" + "&Language=" + sa + "&controller=@controller.ToString()";
            //alert(urlstring)
            document.getElementById("chooser").action = urlstring;
            document.getElementById("chooser").submit();
                         

        }
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
